@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

:root {
  --primary-color:#1E90FF;
  --color-0: #fafafa;
  --color-20: #39FF14;
  --color-80: #00BFFF;
  --color-100: #2C003E;
  


}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Handjet", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-color);
  background-color: var(--color-0);
}

a {
  color: inherit;
  text-decoration: none;
}
