.main {
    width: 25 px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    .breadUp, .breadDown .hamburger {
        width: 100%;
        height: 3px;
        border-radius:3px;
        background-color: black;   
        opacity: 1;
        transition: all 0.35s ease;
    }

    &.active .hamburger {
        opacity: 0;
    }

    &.active .breadUp {
        transform: rotate(45deg) transletY(6px) translateX(5.8px);
    }
    &.active .breadDown {
        transform: rotate(-45deg) translateY(-6px) translateX(5.8px);
    }
}