.main {
    h3 {
        margin-bottom: 0.3125rem; 
    }
    
    select {
        padding: 0.3125rem 0.625rem; 
        border: 0.0625rem solid var(--color-20); 
        border-radius: 0.625rem; 
    }
};
